<div class="modal fade" id="modalDetalle{{ doc.id }}" tabindex="-1" aria-labelledby="modalDetalleLabel{{ doc.id }}" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDetalleLabel{{ doc.id }}">Detalle del Documento: {{ doc.nombre }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          {% include 'documentos/partials/_detalles_documento.html' with doc=doc %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  