{% extends 'base.html' %}
{% load static %}

{% block title %}Crear Documento{% endblock %}

{% block extra_head %}
  <!-- CSS de jQuery UI para autocompletado -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
<div class="container my-4">
  <h2>Crear Documento</h2>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form id="document-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit-btn" class="btn btn-primary">Guardar Documento</button>
  </form>
  
  <script>
    document.getElementById('document-form').addEventListener('submit', function() {
        // Deshabilitar el botón de envío para prevenir envíos múltiples
        document.getElementById('submit-btn').disabled = true;
    });
  </script>
{% endblock %}

{% block extra_js %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
  <script>
    $(function(){
      $("#id_codigo").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "{% url 'sugerencias_codigo' %}",
            dataType: "json",
            data: {
              term: request.term
            },
            success: function(data) {
              response(data);
            }
          });
        },
        minLength: 1,
        select: function(event, ui) {
          // ui.item es un objeto con las claves definidas en la API
          $("#id_codigo").val(ui.item.codigo);
          $("#id_sesion").val(ui.item.sesion);
          $("#id_subsesion").val(ui.item.subsesion);
          $("#id_serie").val(ui.item.serie);
          $("#id_subserie").val(ui.item.subserie);
          $("#id_tipo_documental").val(ui.item.tipo_documental);
          return false;
        }
      }).autocomplete("instance")._renderItem = function(ul, item) {
        return $("<li>")
          .append("<div>" + item.codigo + " - " + item.serie + (item.subserie ? " / " + item.subserie : "") + "</div>")
          .appendTo(ul);
      };
    });
  </script>
{% endblock %}
